html, body {
	font-family: 'Oswald';
	background-image:url('background_wood.jpg');
}

#wrap {
	width:900px;
	height: 100%;
	margin:0 auto;
	font-size: 20px;
	background-color: none;
	min-width: 550px;
	min-height:1300px;
}

#main {
	float: right;
	border: solid;
	border-color: #2E2303;
	border-width: 7px;
	border-radius:10px;
	margin:0 auto;
	text-align:center;
	background-color: white;
	width: 70%;
	background-color: #EBEAE1;
	min-height: 1000px;
	margin-top: 10px;
}

#friends {
	float: left;
	vertical-align: text-top;
	border: solid;
	border-color: #2E2303;
	border-width: 7px;
	border-radius:10px;
	width: 25%;
	height: 100%;
	background-color: #EBEAE1;
	margin-right: 5px;
	margin-top: 10px;
	min-height: 1000px;
}

#friends_head {
	font-family: 'Oswald';
	width:210px;
	color:#FFFFFF;
	background-image: none;
	background-color:#2E2303;
	text-align: center;
	text-decoration:none;
	text-transform:uppercase;
	font-weight: bold;
	border-color: #2E2303; 
	padding: 10px;
	border: 0px solid;
	border-radius:1px;
}

#user_currently_reading {
	text-align: left;
	margin: 15px;
	margin-left: 40px;
}

a:link {
	color:black;
}

a:visited {
	color:black;
}

a:hover {color:#D6D2B0;}

a:active {color:#D6D2B0;}

table {
	margin-left:auto; 
    margin-right:auto;
    min-width: 500px;
}

th {
	min-width:100px;
	color: white;
	background-color: #2E2303;
	text-align: left;
	padding: 5px;
}

td {
	text-align: left;
	padding-left: 10px;
}

#login_title {
	font-family: 'italianno';
	font-size: 52px;
}

#login td {
	text-align: center;
}

#login table {
	min-width: 100px;
}

button {
	font-family: 'Oswald';
	font-weight: bold;
	background-color: #9D9E86;
	color: white;
	font-size: 16px;

}

input[type=submit] {
    font-family: 'Oswald';
    font-weight: bold;
	background-color: #9D9E86;
	color: white;
	font-size: 16px;
}

#login {
	font-family: 'Oswald';
	font-size: 32px;
	background-color: #EBEAE1;
	background-color:white;
	/*font-size: 130px;*/
	text-align: center;
	vertical-align: text-top;
	width: 600px;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 10px;
	/*font-weight: bold;*/
	/*color: #30302B;*/
	border: solid;
	border-color: #2E2303;
	border-width: 10px;
	/*border:2px solid;*/
	border-radius:10px;
	background-color: #EBEAE1;
	padding-bottom: 20px;
	/*text-shadow: 3px 1px gray;*/
}

#login caption {
	font-size: 32px;
	padding-bottom: 5%;
	font-family: 'italianno';
}

p {
	padding:0;
	margin:0;
}