html, body {
	margin:1%;
	padding:0;
	background-image: url('http://p1.pichost.me/i/15/1377859.jpg');
}

#wrap {
	width:80%;
	height: 100%;
	margin:0 auto;
	font-size: 16px;
	background-color: #87CEFA;
	min-width: 550px;
	/*position: fixed;
	height: 100%;
	top: 0;*/
}

#main {
	float: right;
	margin:0 auto;
	text-align:center;
	background-color: white;
	/*height: 100%;*/
	width: 70%;
	min-height: 400px;
}

#friends {
	float: left;
	width: 30%;
	height: 100%;
	background-color: #87CEFA;
}

table {
	margin-left:auto; 
    margin-right:auto;
}

th {
	min-width:100px;
	background-color: #87CEFA;
}

#login {
	color: white;
	font-weight: bold;
	background-color: #6495ED;
	border: clear;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 45%;
	margin:0 auto;
	font-size: 20px;
}

#login caption {
	font-size: 32px;
	padding-bottom: 5%;
}

/*div {
	border: 1px solid red;

}*/